.form-page{
    background-color: rgba(131, 130, 130,20%);
    height: 1000px;
}
.form-create{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
    
}
.form-group{
    margin-top: 50px;
}
h1,h2{
    text-align: center;
    padding-top: 50px;
}
.submit-button{
    width: 100%;
    text-align: center;
}
button{
    margin-top: 100px;
    width: 200px;
    height: 50px;
}
.message{
    background-color: rgba(131, 130, 130,20%);
    height: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.message img{
    height: 200px;
    width: 200px;
}
.message p{
    margin-top:30px;
    font-size: 50px;
}
.message a{
    width: 150px;
    height: 50px;
    margin-top:20px;
    display: flex;
    align-items: center;
    justify-content: center;
}